#type {
    border: 5px solid darkmagenta;
    border-radius: 10px;
    width: 500px;
    padding: 30px;
    padding-top: 40px;
    background-color: darkmagenta;
    margin: auto;
    color: white;
    box-shadow: 10px 10px rgb(19, 5, 19);
}
#button {
    padding: 10px; 
    background-color: rgb(19, 5, 19);
    color: white;
    box-shadow: 5px 2px;
}



@media(max-width: 780px){
    #type{
        width: 300px;
    }
}

@media(max-width: 300px){
    #type{
        width: 300px;
    }
}
